.menu-abrir,
.menu-fechar {
     background: none;
     border: 0;	
     outline: 0;
     -webkit-appearence: none;
     font-size: 1.6em;
     text-indent: -999em;

}


.menu-abrir {
	height: 0;
	width: .75em;
	padding-bottom: .125em;
	border-top: .375em double #000;
	border-bottom: .125em solid #000;


	vertical-align: middle;

	margin: 0.5em;


}


.menu-fechar {
	position: relative;
	height: 1em;
	width: 1em;
}

  .menu-fechar:before {
  	content: '\00D7';
  	position: absolute;
  	top: 0;
  	left: 0;
  	text-indent: 0;

  }